* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: arial;
  box-sizing: border-box;
}

.nav {
  margin-top: auto;
  background-color: #606060;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  display: inline-block;
  margin: 0px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}

.nav li {
  margin: 10px auto;
  padding: 10px;
}

.nav a {
  color: white;
}

.nav-beranda {
  border-bottom: 5px solid #1e90ff;
}

.nav a:hover {
  color: #eaeaea;
}

.nav li:hover {
  border-bottom: 5px solid #1e90ff;
  transition: all 0.3s ease-in-out;
}

body {
  background-image: url("../img/halaman4/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: center;
}

.header {
  text-align: center;
}

.header h1 {
  color: white;
  margin: 40px;
  border-bottom: 5px solid #1e90ff;
}

.container {
  margin: 10dvh 0 10dvh 0;
}

.wrap {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 30px;
}

.container-list {
  /* background-color: blue; */
  /* width: 100%; */
}

.container-list ul {
  padding-left: 5%;
  color: white;
}

.container-list li {
  /* padding-left: 50px; */
  list-style-type: disc;
  /* list-style-image: url(../img/icon/icons8-checkbox-8.png); */
  width: 0px auto;
  margin: 0px auto;
  font-weight: bold;
  font-size: 1.8em;
  color: white;
  /* padding-left: 5%; */
}

@media (max-width: 700px) {
  .header h1 {
    font-size: 1.5em;
  }

  .nav li {
    font-size: 50%;
  }

  .nav {
    justify-content: center;
  }

  .nav li {
    margin: 5px auto;
    padding: 5px;
  }

  .nav li {
    font-size: 75%;
  }

  .nav img {
    width: 40px;
    height: 40px;
  }

  .container-list li {
    /* padding-left: 50px; */
    /* list-style-image: url(../img/icon/icons8-checkbox-8.png); */
    width: 0px auto;
    margin: 0px auto;
    font-weight: bold;
    font-size: 1em;
    /* padding-left: 5%; */
  }
}
