* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Times New Roman";
  box-sizing: border-box;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: auto;
  background-color: #606060;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  display: inline-block;
  margin: 0px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}

.nav li {
  margin: 10px auto;
  padding: 10px;
}

.nav a {
  color: white;
  font-family: "Poppins";
  font-weight: 300;
}

.nav-beranda {
  border-bottom: 5px solid #1e90ff;
}

.nav a:hover {
  color: #eaeaea;
}

.nav li:hover {
  border-bottom: 5px solid #1e90ff;
  transition: all 0.3s ease-in-out;
}

/* ISI */

.header {
  margin-top: 15vh;
  text-align: center;
}

.header h1 {
  margin: 40px;
  border-bottom: 5px solid #1e90ff;
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 90%;
  margin: 0px auto;
}

.container img {
  height: 50vh;
}

.wrap h1 {
  font-size: 1.5em;
  margin-bottom: 25px;
  line-height: 2rem;
}

.wrap-p {
  margin: 20px 0px;
  line-height: 1.6rem;
  color: #6c6969;
}

.wrap-1 {
  margin: auto;
  display: inline;
  font-size: 1.3em;
  /* margin-bottom: 25px; */
}

.wrap-h1 {
  float: left;
}

.wrap-img {
  height: 50px;
  width: 50px;
  /* margin: auto; */
}

.container-info {
  display: flex;
  justify-content: center;
}

.container1 {
  display: flex;
  align-items: center;
  margin: 1px 5px;
  width: 200px;
}

.container1 img {
  width: 80px;
  height: 80px;
}

/* 
.icon {
  width: 50%;
  height: 20px;
  margin-right: 10px;
} */
.text-container {
  display: flex;
  flex-direction: column;
}

.text-container p {
  font-size: 1.3em;
  font-weight: bold;
}

/* .title {
  font-weight: bold;
  font-size: 0.9em;
  margin: 0;
} */

/* FOOTER */
.footer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(228, 255, 255, 1) 44%,
    rgba(158, 248, 255, 1) 100%
  );
}

.footer-left {
  margin: 5%;
  width: 50%;
  text-align: center;
}

.footer-right {
  width: 50%;
}

.footer-right img {
  width: 60%;
}

.header1 {
  border-bottom: 2px solid #1e90ff;
  margin-bottom: 20px;
}

.slider-container {
  margin: 10px;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (max-width: 700px) {
  .header h1 {
    font-size: 1.5em;
  }

  .nav li {
    font-size: 50%;
  }

  td h1 {
    font-size: 100%;
  }

  td p {
    font-size: 90%;
    text-align: justify;
  }

  td img {
    width: 10vh;
  }

  td li {
    font-size: 90%;
  }

  .footer-right {
    margin-left: 15%;
  }

  .footer {
    text-align: center;
    display: block;
    font-size: 75%;
  }

  .footer-left {
    width: 90%;
    /* margin-top: 20px auto; */
  }

  .footer-right {
    width: 100%;
    margin: auto;
  }

  .footer-right img {
    width: 30%;
    margin: 20px;
  }

  .footer-left p {
    padding: 0px 10px 0px 10px;
  }

  .header1 {
    padding-top: 10px;
    border-bottom: 2px solid #1e90ff;
    margin-bottom: 5px;
  }

  .nav {
    justify-content: center;
  }

  .nav li {
    margin: 5px auto;
    padding: 5px;
  }

  .nav li {
    font-size: 75%;
  }

  .nav img {
    width: 40px;
    height: 40px;
  }

  .container {
    flex-wrap: wrap;
  }

  .container-head {
    width: 100%;
    /* height: 10px; */
  }

  .nav a {
    font-family: arial;
    font-size: 90%;
  }

  .slider-container {
    margin: 0px auto;
    /* box-sizing: content-box; */
    /* padding-top: 10px; */
  }
}
